*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
    pointer-events: auto;
   
}


nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: #073642;
    z-index: 200;
    top: 0;
    width: 100%;
    position: fixed;
    overflow-x: hidden;  
    overflow-y: hidden;  
}




.nav-links{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 40%;
    position: fixed;


}



/*.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    z-index: 3;

}

.nav-links li{
    list-style: none;
    z-index: 3;

}*/

.logo {
    color: #2aa198;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    right: -1300px;
    z-index:  200;
}

.burger {
    display: none;
    cursor: pointer;
    top: 1px;
    display: block;
    z-index: 100;
}

.burger div{

width: 40px;
height: 5px;
background-color: white;
margin: 7px;
transition: all 0.3s ease;
cursor: pointer;

}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 60%;

    }
}

@media screen and (min-width: 768px){
    body{
        overflow-x: hidden;
    }
}

    .nav-links{
        position: fixed;
        right: 10%;
        height: 40vh;
        top: 5vh;
        background-image: url("paper.jpg");
        display: flex;
        flex-direction:row;
        align-items: center;
        width: 80%;
        transform: translateY(-101%);
        transition: transform 0.5s ease-in;
        z-index:  11;
        
    }


  
li{
  
    font-size: 40px;
    color: red;
    
}
    


    
    .burger{
        display: block;
        cursor: pointer;
        
    }


.nav-active{
    transform: translate(0%);
}

@keyframes navLinkFade{
    from {
        Opacity:0; 
        transform: translateX(50px);
    }

    to{
        Opacity:1;
        transform:  translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-8px, -8px);
}